{
	"env": {
		"webpack": {
			"presets": [
				[ "@babel/preset-env", { "modules" : false } ]
			]
		},
		"rollup": {
			"presets": [
				[ "@babel/preset-env", { "modules" : false } ]
			]
		},
		"mocha" : {
			"presets": [
				["@babel/preset-env"]
			]
		}
	}
}
