{
	"env": {
		"webpack": {
			"presets": [
				[ "env", { "modules" : false } ]
			]
		},
		"rollup": {
			"presets": [
				[ "env", { "modules" : false } ]
			]
		},
		"mocha" : {
			"presets": [
				[ "env" ]
			]
		}
	}
}
